body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

div#navbar.container {
  /* display: inline-block; */
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  width: 100%;
  height: auto;
  overflow: auto;
  /* float: left; */
}

div#TandL.content{
  display: flex;
  padding: 1%;
}

#title {
  color: white;
  font-size: 2 rem;
  width: auto;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem;
}

#logo {
  float: left;
  position: relative;
  padding: 1rem;
  /* width: 20%; */
  height: auto;
  margin: 0;
}
/* remove default padding */
